[submodule "lib/virtual-dom"]
	path = lib/virtual-dom
	url = git@github.com:Sota-Watanabe/virtual-dom.git
[submodule "lib/vdom-serialize"]
	path = lib/vdom-serialize
	url = git@github.com:Sota-Watanabe/vdom-serialize.git
